*{
    margin:0;
    padding: 0;
}
.img{
    width: 30px;
    border-radius: 40%;
}
body{
margin: 0; 
font-family: sans-serif;
}
header{
width: 100%;
background: #4e94ab;
}
#btn-menu {
    display: none;
}
header label {
    display: none;
    width: 25px;
    height: 20px;
    padding: 10px;
    border-right-color: #fff;
}
header label:hover {
    cursor: pointer;
    background: rgba(#045069);
}
.manu ul{
margin: 0;
list-style: none;
padding: 0;
display: flex;
flex-direction: none;
}
.menu li {
border-right: 1px solid #fff
}
.menu li:hover{
background: #045069;

}
.menu li a {
display: block;
padding: 15px 20px;
color: #fff;
text-decoration: none;
}
@media (max-width:758px){
    header label{
   display: block;
    }
    .menu {

        position: absolute;
        background: #4e94ab;
        width:  48%;
        margin-left: -80%;
        transition: all 0.5s ;
        height: 320px;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }
    
    #btn-menu:checked ~ .menu{
    margin: 0;
    }
    .img {
        display: none;
    }
    
    
}
header nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header nav ul li ul {
    display: flex;
    flex-direction: column;

}
a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 12px 20px;
    display: block;
}
a:hover{
    background: rgb(44,44,44);
}
header nav ul li ul{
    position: absolute;
    background: #008a93;
    align-items: center;
    display: none;
} 
header nav ul li ul li {
    width: 180px;
    position: relative;
}
header nav ul li ul li ul {
    top: 0%;
    left: 180px;
    position: absolute;
}
header nav ul li:hover > ul{
    display:block;

}
.log{
    list-style: none;
    display: flex;
    justify-content: space-between;
}