*{
    margin:0;
    padding: 0;
}
.img{
    width: 50px;
    border-radius: 30%;
}
body{
margin: 0; 
font-family: sans-serif;
}
header{
width: 100%;
background: #4e94ab;
}
#btn-menu {
    display: none;
}
header label {
    display: none;
    width: 25px;
    height: 20px;
    padding: 10px;
    border-right-color: #fff;
}
header label:hover{
    cursor: pointer;
    background-color: rgba(#a8bac0);
}
header nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header nav ul li ul {
    display: flex;
    flex-direction: column;

}
a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 12px 20px;
    display: block;
}
a:hover{
    background: rgb(44,44,44);
}
header nav ul li ul{
    position: absolute;
    background: #008a93;
    align-items: center;
    display: none;
} 
header nav ul li ul li {
    width: 180px;
    position: relative;
}
header nav ul li ul li ul {
    top: 0%;
    left: 180px;
    position: absolute;
}
header nav ul li:hover > ul{
    display:block;

}
.log{
        list-style: none;
    display: flex;
    justify-content: space-between;
}